{% if vHosts|length > 0 %}
    <div class="container-fluid">
        <table class="table table-striped table-hover ">
            <thead>
            <tr>
                <th>Symlinks</th>
                <th>Environment</th>
                <th>Config files</th>
                <th>Recreate</th>
                <th>Remove</th>
            </tr>
            </thead>
            <tbody>
            {% for vHost in vHosts %}
                <tr>
                    <td>
                        <a href="http://{{ vHost.prefix ? vHost.prefix ~ '.':'' }}{{ vHost.project }}{{ vHost.domain ? '.' ~ vHost.domain:'' }}" target="_blank" class="btn btn-link" data-toggle="tooltip" data-placement="bottom" title="Visit project">
                            {{ vHost.prefix ? vHost.prefix ~ '.':'' }}{{ vHost.project }}{{ vHost.domain ? '.' ~ vHost.domain:'' }}
                        </a>
                    </td>
                    <td>{{ vHost.symlinks ? 'Yes':'No' }}
                    <td>{{ vHost.development ? 'Dev':'Prod' }}</td>
                    <td class="text-center">
                        <a href="{{ path('vhost_hosts', {'id': vHost.id}) }}" target="_blank" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="View Windows host file">
                            <i class="mdi mdi-desktop-tower"></i>
                        </a>
                        <a href="{{ path('vhost_show', {'id': vHost.id}) }}" target="_blank" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="View VHost config">
                            <i class="mdi mdi-file"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="{{ path('vhost_create', {'id': vHost.id}) }}" class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" title="Recreate VHost Config">
                            <i class="mdi mdi-reload"></i>
                        </a>
                    </td>
                    <td class="text-right">
                        <a href="{{ path('vhost_remove', {'id': vHost.id}) }}" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Remove VHost">
                            <i class="mdi mdi-delete-variant"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}